.Home{
    margin-top: 10%;
    display: flex;
    justify-content: center;
    gap: 5rem;
}
.home-img{
    height: 30rem;
    width: 40rem;
    cursor: pointer;
    border-radius: 0.5rem;
}

@media screen and (max-width:600px) {
    .Home{
    margin-top: 10%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 5rem;
}
.home-img{
    height: 30rem;
    width: 40rem;
    cursor: pointer;
    border-radius: 0.5rem;
}
}
@media screen and (max-width:1024px) {
    .Home{
    margin-top: 10%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
}
.home-img{
    margin: 0.5rem;
    height: 20rem;
    width: 22rem;
    cursor: pointer;
    border-radius: 0.5rem;
}
}